<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gsync.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Gsync.Properties.Settings>
            <setting name="FileName_EmailSessionTmp" serializeAs="String">
                <value>GsycEmailSessionTmp.json</value>
            </setting>
            <setting name="FileName_EmailSession" serializeAs="String">
                <value>GsycEmailSession.json</value>
            </setting>
            <setting name="FileName_EmailInfoStaging" serializeAs="String">
                <value>GsycInfoStaging.json</value>
            </setting>
        </Gsync.Properties.Settings>
    </userSettings>
</configuration>